h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.55;
  color: #333;
  font-size: 400;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
  margin-bottom: 65px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
a {
  transition: 0.5s;
  text-decoration: none;
  color: #0070d3;
}
a:hover {
  color: #23c2e1;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0070d3;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #f23d4e;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* ==================================================
  Elements
  ================================================== */
.btn {
  background-color: #0070d3;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #fff;
  padding: 15px 45px;
  border-radius: 50px;
}
.btn:hover {
  background-color: #f23d4e;
  color: #fff;
}
.btn:focus {
  color: #fff;
}

.btn-ghost {
  border: 3px solid #fff;
  background-color: transparent;
}
.btn-ghost:hover {
  background-color: #fff;
  color: #0070d3;
}

section {
  padding: 85px 0;
}

.card {
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
}

a:hover {
  text-decoration: none !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #0070d3;
  height: 70px;
}
#header #logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}
#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  margin: 0 0 0 30px;
}
.header-social-links a {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 8px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
}
.header-social-links a i {
  line-height: 0;
  font-size: 24px;
}
.header-social-links a:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .header-social-links {
    margin: 0 15px 0 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fff;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #555;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #0070d3;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #555;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #0070d3;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #0070d3;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
.section-title {
  padding-bottom: 30px;
  position: relative;
}
.section-title h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #0070d3;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-bg {
  background-color: #edf6ff;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  display: table;
  position: relative;
  background-image: url(../img/cover.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  color: #9f8959;
  width: 100%;
  height: 100vh;
}
.hero:after {
  content: "";
  z-index: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.hero .container {
  position: relative;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.hero .icon {
  font-size: 32px;
  color: #fff;
}
.hero-brand {
  margin-bottom: 75px;
  display: inline-block;
}
.hero-brand:hover {
  opacity: 0.75;
}
.tagline {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 45px 0 75px 0;
  color: #fff;
}
#hero .btn-scroll {
  transition: 0.4s;
  color: #fff;
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
#hero .btn-scroll:hover {
  color: #0070d3;
}
#hero i {
  font-size: 32px;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}
.about h2 {
  color: #0070d3;
}
.about p {
  font-size: 18px;
}

.about .icon-boxes h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.about .icon-boxes h3 {
  font-size: 28px;  
  color: #0070d3;
  margin-bottom: 15px;
}
.about .icon-box p {
  color: rgb(122, 122, 122);
}
.about .icon-box {
  margin-top: 20px;
}
.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  line-height: 0;
  border-radius: 50%;
  transition: 0.5s;
  background: #0070d3;
}
.about .icon-box .icon i {
  color: #fff;
  font-size: 24px;
}
.about .icon-box:hover .icon {
  background: #fff;
  border-color: #fff;
}
.about .icon-box:hover .icon i {
  color: #0070d3;
}
.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}
.about .icon-box .title a:hover {
  color: #0070d3;
}
.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 16px;
}
.about .img-box {
  border-radius: 4px;
  background: url("../img/parallax-bg-1.jpg") center center no-repeat;
  background-size: cover;
  min-height: 300px;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


/*--------------------------------------------------------------
# Trainers
--------------------------------------------------------------*/
/* .trainers {

} */
.trainers h2 {
  color: #0070d3;
}
.trainers .description p {
  font-size: 18px;
  margin-bottom: 45px;
}
.trainers .member {
  text-align: center;
  margin-bottom: 45px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  border: 1px solid #eef0ef;
}
.trainers .member img {
  margin: -1px -1px 30px -1px;
}
.trainers .member .member-content {
  padding: 0 20px 30px 20px;
}
.trainers .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}
.trainers .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}
.trainers .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}
.trainers .member .social {
  margin-top: 15px;
}
.trainers .member .social a {
  color: #0f6fbd7d;
  transition: 0.3s;
}
.trainers .member .social a:hover {
  color: #0070d3;
}
.trainers .member .social i {
  font-size: 18px;
  margin: 0 2px;
}


/*--------------------------------------------------------------
# program
--------------------------------------------------------------*/
.program {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  margin-bottom: 45px;
}
.program h2 {
  color: #0070d3;
}
.program p {
  font-size: 18px;
  margin-bottom: 45px;
}
.program .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.program .box:hover {
  box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.2);
}
.program h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 18px;
  font-weight: 600;
  color: #656262;
  background: #f8f8f8;
}
.program h4 {
  font-size: 36px;
  color: #0070d3;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.program h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.program h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.program ul {
  padding: 0;
  list-style: none;
  color: #313030;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.program ul li {
  padding-bottom: 16px;
}
.program ul i {
  color: #0070d3;
  font-size: 18px;
  padding-right: 4px;
}
.program ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.program .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}
.program .featured h3 {
  color: #fff;
  background: #0070d3;
}
.program .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #fff;
  color: #0070d3;
}

/*--------------------------------------------------------------
# courses
--------------------------------------------------------------*/
/* .courses {
  background: url(../img/courses-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}
.courses::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */
.courses {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  margin-bottom: 45px;
}
.courses .section-title h2 {
  color: #0070d3;
}
.courses .section-title p {
  font-size: 18px;
  margin-bottom: 45px;
}
@media (min-width: 1024px) {
  .courses {
    background-attachment: fixed;
  }
}
.courses .courses-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 45px;
}
.courses .course-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #0070d3;
}
.courses .course-item .price {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
.courses .course-item .price span {
  border-bottom: 2px solid #0070d3;
}
.courses .course-item ul {
  list-style: none;
  padding: 0;
  padding-top: 10px;
}
.courses .course-item ul li {
  padding-bottom: 10px;
}
.courses .course-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #0070d3;
}
.courses .course-item p:last-child {
  margin-bottom: 0;
}
.courses .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.courses .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: rgba(4, 1, 1, 0.272);
  opacity: 1;
}
.courses .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0070d3;
}

/* ==================================================
  Contact Section
  ================================================== */
#contact {
  background: #f7f7f7;
  padding: 80px 0;
}
#contact h2 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #0070d3;
}
#contact .info i {
  font-size: 32px;
  color: #0070d3;
  float: left;
  line-height: 0;
}
#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}
#contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
#contact .php-email-form input, #contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
}
#contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
  background-color: #0070d3;
}
#contact .php-email-form button[type=submit] {
  background: #0070d3;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}
#contact .php-email-form button[type=submit]:hover {
  background: #23c2e1;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #111;
  padding: 0;
}
.site-footer h2,
.site-footer p {
  color: #fff;
}
.site-footer p {
  opacity: 0.75;
  line-height: 2.0925;
}
.site-footer h2,
.site-footer .btn {
  margin-bottom: 25px;
}
.site-footer .social-nav a {
  color: #fff;
  opacity: 0.25;
}
.site-footer .social-nav a:hover {
  opacity: 1;
}
.site-footer .bottom {
  background-color: #000;
  padding: 20px 0;
}
.site-footer .bottom .list-inline,
.site-footer .bottom p {
  margin: 0;
}
.site-footer .bottom .list-inline {
  position: relative;
  top: 5px;
}
.site-footer .bottom .list-inline a {
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-right: 15px;
}
.site-footer .bottom .list-inline a:hover {
  color: #0070d3;
}
.site-footer .credits {
  color: #ddd;
}
.site-footer .credits a {
  color: #0070d3;
}

/* ==================================================
  Responsive Styling
  ================================================== */
@media (max-width: 61.9em) {
  section,
.block,
.cta {
    padding: 35px 0;
  }

  .features {
    padding-bottom: 5px;
  }

  p,
.block p {
    margin: 0;
  }

  .hero-brand {
    margin-bottom: 35px;
  }

  .tagline {
    margin: 35px 0;
  }

  h1 {
    font-size: 32px;
    margin: 0;
  }

  h2,
.tagline {
    font-size: 24px;
  }

  h2 {
    margin-bottom: 25px;
  }

  h3 {
    font-size: 14px;
  }

  .hero {
    padding: 75px 0;
  }

  .stats-col {
    margin-bottom: 25px;
  }

  .block {
    height: auto;
  }

  .feature-col {
    padding-bottom: 30px;
  }

  .portfolio-grid .card h3.card-title {
    font-size: 18px !important;
  }
  .portfolio-grid .card .card-text {
    font-size: 13px;
  }

  .team .team-over {
    padding-top: 20px;
  }

  .team .card .social-nav {
    margin-bottom: 15px;
    padding: 0;
  }

  .site-footer .social-nav {
    margin-bottom: 35px;
  }
  .site-footer .list-inline {
    text-align: center;
    padding-bottom: 15px;
  }
  .site-footer .list-inline li {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .block {
    padding-left: 30px;
    padding-right: 30px;
  }
}